autocorrect==2.6.1
contractions==0.1.73
gensim==4.3.2
matplotlib==3.8.3
nlpaug==1.1.11
nltk==3.8.1
numpy==1.26.4
pandas==2.2.1
plotly==5.19.0
protobuf==4.25.3
scikit_learn==1.4.1.post1
seaborn==0.13.2
simpletransformers==0.70.0
torch==2.2.1
tqdm==4.66.2
transformers==4.38.2
